In [1]:
import pandas as pd

In [2]:
filenames = ['202109 Korean Re Inforce File - PFS_KOR_1', 
             '202109 Korean Re Inforce File - PFS_KOR_2',
             '202109 Korean Re Inforce File - PFS_KOR_3',
            '202109 Korean Re Inforce File - PFS_KOR_4',
            '202109 Korean Re Inforce File - PFS_KRC',
            '202109 Korean Re Inforce File - PFS_KRS, PFS_KRP',
             '202109 Korean Re Inforce File - PRU, NYL, PFSC, Lincoln, Principal']

In [3]:
dfs = []

for fname in filenames:
    print('Loading {}'.format(fname))
    df = pd.read_csv('data/{}.csv'.format(fname), low_memory = False)
    df = df[['StatementDate','CedingCompany', 'Coverage_CededNetAmountRisk']]
    dfs.append(df)

print('Data loading is completed!')

Loading 202109 Korean Re Inforce File - PFS_KOR_1
Loading 202109 Korean Re Inforce File - PFS_KOR_2
Loading 202109 Korean Re Inforce File - PFS_KOR_3
Loading 202109 Korean Re Inforce File - PFS_KOR_4
Loading 202109 Korean Re Inforce File - PFS_KRC
Loading 202109 Korean Re Inforce File - PFS_KRS, PFS_KRP
Loading 202109 Korean Re Inforce File - PRU, NYL, PFSC, Lincoln, Principal
Data loading is completed!

In [4]:
df_merged = pd.concat(dfs)

In [5]:
def RiskProfile(lower, upper):
    count = len(df_merged[(df_merged['Coverage_CededNetAmountRisk'] >= lower) & (df_merged['Coverage_CededNetAmountRisk'] < upper)])
    NAR = df_merged[(df_merged['Coverage_CededNetAmountRisk'] >= lower) & (df_merged['Coverage_CededNetAmountRisk'] < upper)]['Coverage_CededNetAmountRisk'].sum()
    return [count, NAR]

In [6]:
RiskProfile(0,20000)

[3620880, 25029142071]

In [7]:
lower = [0,20000,40000,60000,80000,100000,150000,200000,250000,500000,1000000,1500000,2000000,2500000,3000000,4000000]
upper = [20000,40000,60000,80000,100000,150000,200000,250000,500000,1000000,1500000,2000000,2500000,3000000,4000000,10000000]

In [8]:
results = []

for low, up in zip(lower, upper) :
    row = []
    row.append(low)
    row.append(up)
    row.append(RiskProfile(lower=low,upper=up)[0])
    row.append(RiskProfile(lower=low,upper=up)[1])
    results.append(row)

In [9]:
results

[[0, 20000, 3620880, 25029142071],
 [20000, 40000, 946557, 26055818954],
 [40000, 60000, 379289, 18198384008],
 [60000, 80000, 115124, 7813437599],
 [80000, 100000, 100533, 9007818087],
 [100000, 150000, 59873, 6785516317],
 [150000, 200000, 21726, 3701501264],
 [200000, 250000, 7854, 1636780039],
 [250000, 500000, 11934, 3844192660],
 [500000, 1000000, 4670, 3193031592],
 [1000000, 1500000, 1067, 1256733423],
 [1500000, 2000000, 559, 984672976],
 [2000000, 2500000, 283, 623665015],
 [2500000, 3000000, 122, 335816898],
 [3000000, 4000000, 119, 407795897],
 [4000000, 10000000, 213, 1016375143]]

In [12]:
column_name = ['Min NAR', 'Max NAR', 'No. of insureds', 'NAR']

In [23]:
df = pd.DataFrame (results, columns = [column_name])

In [24]:
df

    Min NAR   Max NAR No. of insureds          NAR
0         0     20000         3620880  25029142071
1     20000     40000          946557  26055818954
2     40000     60000          379289  18198384008
3     60000     80000          115124   7813437599
4     80000    100000          100533   9007818087
5    100000    150000           59873   6785516317
6    150000    200000           21726   3701501264
7    200000    250000            7854   1636780039
8    250000    500000           11934   3844192660
9    500000   1000000            4670   3193031592
10  1000000   1500000            1067   1256733423
11  1500000   2000000             559    984672976
12  2000000   2500000             283    623665015
13  2500000   3000000             122    335816898
14  3000000   4000000             119    407795897
15  4000000  10000000             213   1016375143

In [28]:
excelfilename = 'Risk Profile as at 202109.xlsx'

writer = pd.ExcelWriter(excelfilename, 
                        engine='xlsxwriter',
                       datetime_format='mmm-yyyy')

df.to_excel(writer)
writer.save()